/*Victor Samperio 01/28/2017*/
body {
    color: #000000;
    background-color:#D9F1C1;
}

header, nav, footer { 
    font-family: Helvetica , Arial, sans-serif;
}
footer {
    font-size:0.75em;
    text-align:center;
}



header h1, h2 {
    position: relative;
    padding-left: 25%;     
}
#main {
    font-family: Helvetica, "Times New Roman", serif;
    background-color:#F0F9E6;
    padding:20px;
}
#outerwrapper {
    width:80%;
    margin: 0 auto 0 auto;
}
.addrightmargin {
    margin-right: 2%;
}
.image-cropper {
    max-width: 100px;
    height: auto;
    position: relative;
   
}
img {
    float:left;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}


nav ul {
  list-style: none;
 
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 

 
@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline 
  nav li {
    display: inline-block;
    margin-right: -4px;
  }
 */
  /* Options 2 - Float */
  nav li {
    float: left;
  }
  nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;

  }

  
}